{% extends 'base.html' %}
{% block title %}
Mendelu Autoservis
{% endblock %}

{% block text %}

<body>
    <header>
        <h1>Kontakty</h1>
    </header>
    <main>
        <h2>Kontaktujte nás</h2>
        <p>Pro jakékoliv dotazy, objednávky nebo další informace, neváhejte nás kontaktovat:</p>
        <ul>
            <li>Telefonní číslo: +420 123 456 789</li>
            <li>Email: info@techkontrola-vozidel.cz</li>
            <li>Adresa: Ulice 123, Město, PSČ</li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Technická kontrola vozidel</p>
    </footer>
</body>

{% endblock %}