{% extends 'base.html' %}
{% block title %}
Mendelu Autoservis
{% endblock %}

{% block text %}

<body>
    <header>
        <h1>Naše Služby</h1>
    </header>
    <main>
        <div class="service">
            <h3>Technická kontrola vozidel</h3>
            <p>Provádíme důkladné technické kontroly vozidel v souladu s platnými předpisy. Zajišťujeme potřebnou dokumentaci pro registraci a provoz vozidel.</p>
        </div>
        <div class="service">
            <h3>Servis a opravy</h3>
            <p>Poskytujeme širokou škálu servisních a opravných služeb pro osobní a užitková vozidla. Naše týmy zkušených techniků se postarají o vaše vozidlo.</p>
        </div>
        <div class="service">
            <h3>Likvidace starých vozidel</h3>
            <p>Provedeme bezpečnou a ekologickou likvidaci vašeho starého vozidla. Zajistíme správné zpracování a recyklaci odpadů z vozidla.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Technická kontrola vozidel</p>
    </footer>
</body>
{% endblock %}